
<section>
    <div class="container py-5">
  
      <!-- FOR DEMO PURPOSE -->
      <header class="text-center mb-5 text-white">
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <h1>Organizer pricing table</h1>
        
          </div>
        </div>
      </header>
      <!-- END -->
  
  
  
      <div class="row text-center align-items-end">
        <!-- Pricing Table-->
        <div
        *ngFor="let subscription of orgnizerSubscriptions"
        class="col-lg-3 mb-5 mb-lg-0 h-100"
      >
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">
            {{ subscription.sname }}
          </h1>
          <h2 class="h1 font-weight-bold">
            {{ subscription.sprice
            }}<span class="text-small font-weight-normal ml-2"></span>
          </h2>
          <h2 class="h1 font-weight-bold">
            {{ subscription.sduration
            }} Days<span class="text-small font-weight-normal ml-2"></span>
          </h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled text-small text-start">
            <li
              *ngFor="let benefit of subscription.sbenefits.split(',')"
              class="mb-3"
            >
              <i class="fa fa-check mr-2 text-primary"></i>&nbsp;{{
                benefit.trim()
              }}
            </li>
          </ul>

          <!-- Check if sbenefitsmuted is not empty before rendering -->
          <ul
            *ngIf="subscription.sbenefitsmuted"
            class="list-unstyled text-small text-start"
          >
            <li
              *ngFor="
                let mutedBenefit of subscription.sbenefitsmuted.split(',')
              "
              class="mb-3" 
            >
              <i class="fa fa-times me-2 text-danger"></i>&nbsp;
              {{ mutedBenefit.trim() }}
            </li>
          </ul>

          <a
            class="btn btn-primary btn-block p-2 shadow rounded-pill"
            routerLinkActive="active"
            (click)="edit(subscription.sid)"
            >Edit</a
          >
        </div>
      </div>
      <!-- END -->
  
      </div>
    </div>
  </section>
