
<div class="container">
    <form [formGroup]="carouselForm">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Carousel</th>
            <th>File Upload</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of imageFields; let i = index">
            <td>Image {{ i + 1 }}</td>
            <td>
              <input type="file" class="form-control" (change)="onFileSelected($event, field)" accept="image/*">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <button class="btn btn-primary" (click)="postImages()">Upload Images</button>
  </div>

  <hr>
  


  
  <div class="image-container">
    <div *ngFor="let image of images" class="image-wrapper">
      <h1>{{ image.src }}</h1>
      <img [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + image.data)" [alt]="image.src" />
    </div>
  </div>
  

  
  
  
  
  
  
  

  