mat-sidenav {
    // background: rgb(2,0,36);
    // background: linear-gradient(118deg, rgba(2,0,36,1) 0%, rgba(1,36,6,1) 18%, rgba(8,167,98,1) 100%);
    background: rgb(31, 32, 31);
    width: 230px;
    height: 100%;
}

mat-sidenav-content {
    height: 100vh;

    // background-color: cadetblue;
    .main {
        margin-left: 30px;
    }
}

mat-toolbar {
    mat-icon {
        margin-left: 15px;
        color: gray;
    }

    justify-content: space-between;

    .box {
        margin-top: 15px;
    }
}