<mat-card>
    <mat-card-title
      ><i class="fa-solid fa-users"></i>
      <b>App Config Settings</b>
    </mat-card-title>
  </mat-card>

  <div class="pb-3" fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign="space-around center"
  fxLayoutGap="25px">
  <mat-card class="example-card card-1" fxFlex="calc(25%-25px)" fxFlex.sm="calc(50%-25px)" [routerLinkActive]="['active']" [routerLink]="['/home/products']">
    <mat-card-header class="mx-auto">
      <div mat-card-avatar class="example-header1-image"></div>
      <mat-card-title style="font-size: 20px; display: flex">Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <p class="para">Products</p> -->
      <!-- <p class="para">120</p> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card card-1" fxFlex="calc(25%-25px)" fxFlex.sm="calc(50%-25px)" [routerLinkActive]="['active']" [routerLink]="['/home/carosal-setting']">
    <mat-card-header class="mx-auto">
      <div mat-card-avatar class="example-header3-image"></div>
      <mat-card-title style="font-size: 20px; display: flex">Carousal Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <p class="para">{{ data["activeBusiness"] }}</p> -->
      <!-- <p class="para">Carousal Settings</p> -->
      <!-- <p class="para">52</p> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card card-1" fxFlex="calc(25%-25px)" fxFlex.sm="calc(50%-25px)" [routerLinkActive]="['active']" [routerLink]="['/home/artist_categories']">
    <mat-card-header class="mx-auto">
      <div mat-card-avatar class="example-header5-image"></div>
      <mat-card-title style="font-size: 20px">Artist Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <p class="para">{{ data["totalBusiness"] }}</p> -->
      <!-- <p class="para">artist categories</p> -->

      <!-- <p class="para">172</p> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card card-1" fxFlex="calc(25%-25px)" fxFlex.sm="calc(50%-25px)" [routerLinkActive]="['active']" [routerLink]="['/home/organizer_categories']">
    <mat-card-header class="mx-auto">
      <div mat-card-avatar class="example-header4-image"></div>
      <mat-card-title style="font-size: 20px">Organizer Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <p class="para">{{ data["totalBusiness"] }}</p> -->
      <!-- <p class="para">Organizer Categories</p> -->

      <!-- <p class="para">172</p> -->
    </mat-card-content>
  </mat-card>
</div>
<!-- <ng-template #loadingSpinner>
  <mat-spinner class="loading-spinner mx-auto" diameter="70">Loading!!!!</mat-spinner>
</ng-template> -->
<!-- <div class="card my-2 me-4">
  <h2 class="p-3" style="text-align: left; padding-left: 10px">Joinings</h2>
  <div class="card-body chartBox mx-auto">
    <canvas id="myChart"></canvas>
  </div>
</div> -->