mat-card {
    margin-top: 20px;
    justify-content: center;
    margin-right: 25px;
    background-color: rgb(238, 238, 238);
    height: 80px;
}
mat-card:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
  }

mat-card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: black;
}


.example-card {
    max-width: 300px;
    height: 100px;
}


h1,
h2,
h3 {
    font-weight: bold;
}

p {
    // padding-left: 80px;
    text-align: center;
}

.para {
    font-weight: bold;
    font-size: medium;
    padding-bottom: 10px;
}

.p-text {
    font-size: medium;

    word-spacing: 5px;
    text-align: start;
    padding-left: 20px;
    font-weight: 500;
}

.example-header1-image {
    background-image: url(../../../../assets/Images/box.png);
    background-size: cover;
}

.example-header2-image {
    // background-image: url('https://www.citypng.com/public/uploads/preview/blue-notification-bell-icon-png-img-11638985034lcbypudcig.png?v=2023062810');
    background-image: url(../../../../assets/Images/box.png);
    background-size: cover;

}

.example-header3-image {
    // background-image: url('https://www.citypng.com/public/uploads/preview/blue-notification-bell-icon-png-img-11638985034lcbypudcig.png?v=2023062810');
    background-image: url(../../../../assets/Images/picture.png);
    background-size: cover;

}

.example-header4-image {
    // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSviDqYoggbPka45D0dPM5-IWo6XOS32Nq0aQ&usqp=CAU');
    background-image: url(../../../../assets/Images/businessman.png);
    background-size: cover;
}
.example-header5-image {
    // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSviDqYoggbPka45D0dPM5-IWo6XOS32Nq0aQ&usqp=CAU');
    background-image: url(../../../../assets/Images/guitarist.png);
    background-size: cover;
}

mat-card-actions {
    text-align: center;
    justify-content: center;

    button {

        color: white;
        background: black;
    }
}

.chartBox {
    display: block;
    width: 800px;
    height: 300px;
}


@media only screen and (max-width: 800px) {
    .chartBox {
        width: 90%;
        height: 45%;
    }

    .card-1 {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .chartBox {
        width: 300px;
        height: 300px;
    }
    .example-card {
        max-width: calc(50% - 25px); /* For screens wider than 600px, make cards occupy half of the container width with a gap of 25px */
      }
}

@media only screen and (max-width: 350px) {
    .chartBox {
        width: 90%;
        height: 90%;
    }
}