<mat-card>
    <mat-card-title>
      <b><i class="fa-solid fa-inr"></i>Artist Subscription Status </b>
    </mat-card-title>
  </mat-card>
  
  <div class="main-div">
    <mat-form-field style="padding-top: 15px">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
  
    <div *ngIf="dataLoaded; else loading" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort> 
        <ng-container matColumnDef="business_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
          <td mat-cell *matCellDef="let row">{{ row.user_id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="business_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
          <td mat-cell *matCellDef="let row">{{ row.user_name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="contact_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
          <td mat-cell *matCellDef="let row">{{ row.contact_no }}</td>
        </ng-container>
  
        <ng-container matColumnDef="subscription_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subscription Date</th>
          <td mat-cell *matCellDef="let row">{{ row.subscription_date }}</td>
        </ng-container>
  
        <ng-container matColumnDef="remaining_days">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Remaining Days</th>
          <td mat-cell *matCellDef="let row">{{ row.remaining_days }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" style="padding: 10px;">
            No data matching "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
  </div>
  <ng-template #loading>
    <div class="spinner mx-auto">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  </ng-template>