<mat-card>
    <mat-card-title
      ><i class="fa-solid fa-users"></i>
      <b>Subscription Plans</b>
    </mat-card-title>
  </mat-card>
  <button
      mat-raised-button
      color="primary"
      style="width: 29%; padding: 25px; margin-bottom: 20px"
      routerLink="/home/createsubscription"
    >
      Create Subscription Plan
    </button>

  <app-artistpricing></app-artistpricing>
  <app-organizerpricing></app-organizerpricing>
  <app-userpricing></app-userpricing>
  <!-- subscription cards -->
  
  <!-- <div class="card-container">
  <div *ngFor="let sub of subscription" class="card-item">
    <mat-card>
      <mat-card-title>{{ sub.sname }}</mat-card-title>
      <mat-card-subtitle>{{ sub.sprice }}</mat-card-subtitle>
      <mat-card-content>
        <p>Duration: {{ sub.sduration }}</p>
        <p>Plan For: {{ sub.planfor }}</p>
        <p>Benefits:</p>
        <div *ngIf="sub.sbenefits" class="benefits-container">
            <mat-card-content cols="auto">
              <mat-card-content *ngFor="let benefit of sub.sbenefits.split(','); let i = index">
                {{ benefit.trim() }}{{ i !== sub.sbenefits.split(',').length - 1 ? ',' : '' }}
              </mat-card-content>
            </mat-card-content>
          </div>
        <p>Additional Benefits:</p>
        <div *ngIf="sub.sbenefitsmuted" class="benefits-container">
          <mat-card-content cols="auto">
            <mat-card-content *ngFor="let benefit of sub.sbenefitsmuted.split(','); let i = index">
              {{ benefit.trim() }}{{ i !== sub.sbenefitsmuted.split(',').length - 1 ? ',' : '' }}
            </mat-card-content>
          </mat-card-content>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
  